body {
  margin: 0;
  font-family: Arial;
  text-align: center;
}

/* FUNDO GLOBAL */
#bg {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: background 0.5s;
  background-size: 400% 400%;
}

/* ANIMAÇÃO */
@keyframes gradientMove {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

/* MENU */
#menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

canvas {
  display: none;
  margin: auto;
  background: #111;
}

/* SCORE */
#score {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 20px;
}